
@charset "UTF-8";
/* CSS Document */

html, body {
	margin: 0px auto; padding: 0px; border: 0px;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	background-color: #fff;
}

p{
	font-size: 14px;
	line-height: 28px;
	font-weight: 100;
	margin: 0 0 0 0;
	color: #000;

}

h1{
	font-size: 48px;
	line-height: 84px;
	font-weight: 100;
	margin: 0 0 0 0;
	color: #000;

}

.intro{
	width: calc(100% - 200px);
	margin: 250px 100px 150px 100px;
}

.label{
	margin-left: 3px;

}